*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_notebooks/2020-03-15-us-growth-by-state-map.ipynb
JHU Data Example.csv
_notebooks/results/all_cases - Copy.csv
